header {
  display: flex;
  align-items: center;
  width: inherit;
  height: 6.4rem;
  padding: 1.2rem 1.2rem 1.2rem 3.2rem;
  border-bottom: 1px solid #383838ff;
}

h1 {
  width: fit-content;
  height: fit-content;

  font-size: 2.8rem;
}
